.upload-image-container {
  position: relative;
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

.upload-image {
  width: 300px;
  margin: 40px 0 40px 0;
}

.tooltip-text {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba($color: #000000, $alpha: 0.7);
  color: #ffffff;
  border-radius: 10px;
  padding: 5px;
  width: 150px;
}

.display-tooltip {
  display: block;
}